:root {
  --page-color: #191919;
  --highlight-color: #f15025;
  --text-color: #e6e6e6;
  background-color: var(--page-color);
}

* {
  background-color: #363636;
  color: #e6e6e6;
}

h1 {
  padding: 1rem;
  background-color: var(--highlight-color);
  color: var(--text-color);
}

h2,
h3,
h4 {
  margin: 0.5rem;
}

section {
  margin-left: 1rem;
}

h2 {
  margin-top: 0.5rem;
  border-bottom: 1px solid var(--highlight-color);
  color: var(--highlight-color);
}

h3 {
  margin-top: 1rem;
  border-bottom: 1px solid var(--text-color);
}

p {
  padding: 0 1rem 0.5rem 1rem;
}

pre {
  margin: 0 1rem;
  padding: 0.5rem;
  background-color: black;
  border-radius: 1rem;
  overflow: auto;
}

ol {
  margin-left: 1rem;
  padding-left: 1rem;
}

ol > li {
  margin-top: 0.25rem;
}

ol > li > ol {
  margin-left: 0;
}

ol > li > ol > li {
  margin-top: 0rem;
}

table {
  margin-left: 1rem;
  border-spacing: 0px;
}

th {
  border-bottom: 2px solid var(--text-color);
}

th,
td {
  padding: 0.25rem;
}
